REQUIRED=base cpp pyjavacpp
PLUGIN_URLS=git+https://github.com/CNP3/INGInious-problems-network-trace git+https://github.com/UCL-INGI/INGInious-problems-math
PLUGIN_NAMES=inginious-problems-network-trace inginious_problems_math
